/* ERIC MYERS RESET - HTML5 display-role reset for older browsers */

* { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; margin-left:30px; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,  q:before, q:after {
	content: '';
	content: none; }
table { border-collapse: collapse; border-spacing: 0; }