@charset "UTF-8";

/**************************
	GOOGLE FONTS 
**************************/

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,700i,900');

/**************************
	ERIC MEYERS RESET
**************************/
* { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; margin-left:30px; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,  q:before, q:after {
	content: '';
	content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/**************************
	START CSS STYLE HERE
**************************/
body {
    height: auto;
	font-size: 12px;
	color:#322F2F;
	font-family: 'Lato', sans-serif;
	background-color: #ffca51;
}
a { 
	text-decoration: none; 
	color: #3B3D3F;
	cursor: pointer;
	display: block;
}

p { 
	font-size: 1em;
	line-height: 1.2em;
	letter-spacing: 0.05em;
	
}

h1 { font-size: 2em; font-weight: 700; }
h2 { font-size: 1.7em; line-height: 1.5em; font-weight: 400;}
h3 { font-size: 1.4em; line-height: 1.2em; font-weight: 300; }
h4 { font-size: 1.2em; line-height: 1em; font-weight: 300; }
h5 { font-size: 1em; line-height: 1em; font-weight: 100; }
h6 { font-size: 1.2em; line-height: 1.2em; font-weight: 300; }
i { padding: 0; margin: 0; }
li {list-style: none; }


.main-container {
	max-width: 1550px;
	margin: 0 auto;
	}

/**************************
		HEADER
**************************/

#headerContainer {
	width: 100%;
	height: 150px;
	margin: 0 auto;
	
}

#siteicon {
	position: fixed;
	padding: 8px 0 0 8px;
	width: 40px;
    z-index: 100;
}

#siteicon img {
	width: 30px;
	-webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	
}

#siteicon img:hover {
	width: 40px;
}

/* Style the navbar links */

#navbar-main {
	position: fixed;
	padding: 8px 0 8px 100px;
	width: 100%;
	background-color: rgba(255,255,255,0.75); 
}

#navbar, #navbar-page {
	position: fixed; 
    background-color: #333; 
	padding: 9px;
    top: 0; left: 0;
    width: 100%;
    margin: 0 auto;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
	z-index: 100;
}


#navbar-main a, #navbar a, #navbar-page a {
	position: relative;
    float: left;
    display: block;
	padding: 0 8px;
	font-size: 120%;
	font-weight: 500; 
    line-height: 30px;
    text-decoration: none;
	-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#navbar-page a:last-child, #navbar a:last-child {
	position: absolute;
	right: 50px;
	
}

#navbar a, #navbar-page a { color: #fff; }
#navbar-main a { color: #222; }

#navbar a:hover, #navbar-main a:hover, #navbar-page a:hover {
    color: #eb6969;
	font-weight: 500;
	font-size: 140%;
}

/**************************
	INDEX PAGE 
**************************/

#galleryContainer {
	width: 80%;
	padding-top: 100px;
	margin: 0 auto !important;
	
}

#galleryPage { margin: 0 auto; }

#galleryCard {
	height: calc(0.58 * 433px);
	padding-top: calc(0.42 * 433px);
	background-size: 90% 90%; 
	background-repeat: no-repeat;
	background-position: top center;
	margin-bottom: 20px;
	
	
}

#galleryCard li {
	margin-bottom: 5px;
	color: #fff;
	list-style: none;
	text-align: center;
	z-index: 100;
	padding: 0 18px;
} 

#galleryCard h3 { 
	font-weight: 500; 
	padding: 5px;
	margin-bottom: 2px;
	z-index: 100;
}

#galleryCard h3 a {
	display: block;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#galleryCard h3 a:hover {
	color: #ff6666;
	padding: 8px;
	
}

#galleryCard p { 
	font-size: 85%;
	font-weight: 100px;
	text-align: justify;

}

#galleryCard li a, #preview li a{
	display: inline-block;
	list-style: none;
	text-align: center;
	background: rgba(255,102,102,0.65);
	padding: 5px 12px;
	color: #fff;
	font-weight: 400;
	width: 100px;
	font-size: 90%;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
} 

#galleryCard li a:hover, #preview li a:hover {
	color: #e55959;
	background: #fff;
	padding: 11px;
}






/******** GALLERY ISOTOPE CSS *********/

.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
}

.portfolioFilter {
	z-index: 10;
	margin: 0 auto;
}
.portfolioFilter a {
	display: inline-block;
	margin-right: 30px;
	color: #F8F3F3;
	text-decoration: none;
	font-weight: 400;
	font-size: 100%;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.portfolioFilter a:hover {
	font-weight: 700;
	font-size: 100%;
	color: #b9bf17;
}

.portfolioFilter a.current1 {
	color: #fff;
	cursor: default;
	border-bottom: 1px solid #cc3333;
	outline: none!important;
}



/**************************
	LOG IN PAGE
**************************/

#loginPage {
	width: 100%;
	height: 1000px;
	background-image: url(/images/banner/login3-500x800.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center center;
	
}
.logincontainer { padding-top: 100px; }

.logincontainer img { margin: 50px 0; }


/**************************
	ADMIN PAGE
**************************/

#adminContainer {
	width: 100%;	
	background: #266e9b;
}

#adminContainer section {
	width: 40%;
	padding: 0 3%;	
}

#adminContainer section img {
	width: 40%;
	margin: 0 auto;
}

#adminContainer aside {
	width: 53%;
	background: #bab7b7;
	height: auto;
	margin: 0 auto;
	text-align: center;
}


#adminContainer h3 {
	color: #fff;
	padding: 20px 0;
	font-weight: 700;
	font-size: 250%;
	font-family: 'Dancing Script', cursive;	
}

#adminContainer p {
	color: #fff;
	font-size: 110%;
	line-height: 14px;
}


#adminContainer h4 {
	color: #fac654;
	font-weight: 500;
	padding: 8px 0 0 0;
	border-top: 1px solid #d1c9c9;
	
	margin: 10px 0 2px 0;
}

#projectList { width: 100%; }

.publish { padding-bottom: 10px; }

.logout a {
    display: inline-block;
	width: 100px;
    padding: 8px 12px;
    background: #fff;
	color: #cc3333;
	font-weight: 500;
	font-size: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logout a:hover {
    background: #cc3333;
    color: #fff;
    padding: 12px 17px;
}

aside li { padding: 15px 0; }

aside img { width: 100%; }


aside table {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

aside th {
	font-size: 110%;
	color: #fff;
	background: #61b7b4;
	text-align: center;
	padding: 8px 15px;
}
aside td {
	color: #333;
	font-size: 110%;
	font-weight: 300;
	line-height: 100%;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	border: 0.5px #555 solid;
}

aside tr { background: #cdcdcd; }
aside tr:nth-child(odd) { background: #efefef; }

/**************************
	PREVIEW PAGE 
**************************/


#previewContainer {
    margin: 0 auto;
    width: 80%;
    height: 100vh;   
}

#previewContainer img {
    width: 100%;
   -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent) , to(rgba(250, 250, 250, 0.2)));
}

#previewContainer li {
   margin: 15px 0;
    text-align: left;
}

#previewContainer h3 {
    font-size: 200%;
    text-align: left;
    border-bottom: 1px solid #ababab;
    padding: 0 10px;
}

#previewContainer li:nth-child(3) {
    padding-bottom: 20px;
    border-bottom: 1px solid #ababab;
}


#previewContainer li h4 {
    font-weight: 500;
    font-size: 140%;
    text-align: left;
    padding: 8px 0;
}

#previewContainer li a {
    text-align: center;
    background:  #e55959;
    color: #fff;
    padding: 8px 15px;
    width: 150px;
    display: block;
    margin: 0 auto;
    font-size: 110%;
    font-weight: 500;
    
}

/**************************
	FOOTER PAGE
**************************/

.footer-container {
/*    transform: translate(0,1500px);*/
    position: relative;
	width: 100%;
	bottom: 0;
	height: 400px;
	margin-top: 150px;
	margin-bottom: 0 !important;
	background-color: #333;
	
}

#footerContainer {
	width: 80%;
}
#footerContainer div {
	padding: 1%;
	float: left;
	width: 30%;
	height: 300px;
}

#footerContainer div:nth-child(2) {
	border-left: 1px solid rgba(200,200,200,0.7);
	border-right: 1px solid rgba(200,200,200,0.7);
	
}

#footerContainer h3, h6{ width: 100%; color: #fff; }

#footerContainer h3{
	font-weight: 500;
	text-align: left;
}

#footerContainer h6{
	margin-top: 10px;
	font-size: 100%;
	text-align: justify;
}

#footerContainer a { font-size: 80%; color: #fff; }

#footerContainer img { width: 100%; }

#footerContainer input{ 
	border: none;
	width: 92%;
	height: 30px;
	margin: 5px 0; 
}

#footerContainer input::-webkit-input-placeholder { 
	color: black; 
	text-align: left;
}

#footerContainer input:-ms-input-placeholder { 
	border: none;
	width: 92%;
	height: 20px;
	margin: 5px 0; 
}

#footerContainer form {
	margin-top: 20px;
}

#footerContainer input::-webkit-input-placeholder { 
	border: none;
	width: 92%;
	height: 20px;
	margin: 5px 0; 
}

#footerContainer input:-ms-input-placeholder { 
	border: none;
	width: 92%;
	height: 20px;
	margin: 5px 0; 
}

#footerContainer input::placeholder { 
	border: none;
	width: 92%;
	height: 20px;
	margin: 5px 0; 
}


#footerContainer input[type=submit] {
	background: #e55959;
	height: 40px;
	color: #fff;
	font-weight: 300;
	font-size: 100%;
	border-radius: 0;
	padding: 10px 10px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 100px;
}

.footer {

   
    width: 100%; 
    background-color: #fff;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: relative;
    bottom: 0pt;
    left: 0pt;
	margin-top: 50px;
	padding: 100px 0;

}   

.footer_contents {
    height:24px; 
    width: 88%; 
    margin: 0 auto;

}


/**************************
	FORMS & BUTTONS
**************************/

button {
	background: #e55959;
	color: #fff;
	font-weight: 700;
	font-size: 80%;
	border-radius: 0;
	padding: 5px 20px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 15px 50px 10px; 
}

#login input { 
	width: 90%; margin: 5px 0 10px 0; }
#admin input { 
	width: 92%; 
	margin: 5px 0; }

input[type=text], input[type=password] { 
	border: 0.5px solid #EAB1B1;
	height: 20px;
	padding: 10px; 
	text-align: left; 
	color: #9E8888;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 2px 2px #888888;
	box-shadow: 0 2px 2px #888888;
}

input:focus { 
    border: 0.5px #B13030 solid;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #98DFD4;
}
 
input[type=file] { 
	padding: 15px; 
	text-align: center;
	border-radius: 0; 
}

input[type=submit] {
	background: #f27676;
	color: #fff;
	font-weight: 500;
	font-size: 110%;
	border-radius: 0;
	padding: 10px 20px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 80px;
}

input[type=submit]:hover { background: #3b3535; }


textarea::-webkit-input-placeholder {
font-family: 'Lato', sans-serif;	
font-weight: 400;	
color: #7c7979;
text-align: left;	
padding: 5px 0 0 10px;	
}

textarea { 
margin: 0;
border: 0.5px solid #EAB1B1;
}
.wrapper { display: table; }
.main {
  width: 95%;
  background: #C3B2B2;
  display: inline;
}

.main > textarea { width: inherit; }


/**************************
	CUSTOM CHECKBOX
**************************/

#adminContainer a h2, #adminContainer a p { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; cursor: pointer; } 
#adminContainer #adminContainer a h2:hover { color: #e55959; }

button:hover { color: #e55959; border: none; background: #e5e2e2; }
.check {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin: 10px 5px;				
  color: #7c7777;	
  cursor: pointer;
  font-weight: 400;	
  font-size: 70%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
.check:hover input ~ .checkmark { background: #ccc; }

.check input:checked ~ .checkmark { background: #e55959; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check input:checked ~ .checkmark:after { display: block; }

.check .checkmark:after {
  left: 5px;
  top: 3px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/**************************
	CUSTOM FILE UPLOAD
**************************/
.file-upload::-webkit-file-upload-button {
  visibility: hidden;
}
.file-upload::before {	
  	content: 'UPLOAD';
	width: 60px;
  	display: inline-block;
  	color: #fff;		
  	background: #f27676;
  	text-align: center;	
  	border-radius: 0;
  	padding: 10px;
  	white-space: nowrap;
  	-webkit-user-select: none;
  	cursor: pointer;
	font-weight: 500;
	-webkit-transform: translate(-10px,0);
	transform: translate(-10px,-8px);
  
	
}
.file-upload:hover::before { background: #3b3535; }
.file-upload:active::before { color: #b44f4f; }


/**************************
	COLUMN GRID RESPONSIVE CLASS
**************************/
.col13 { width: 29.33%;}
.col23 { width: 62.66%;}
.col33 { }
.col12 { width: 46%;}
.col14 { width: 21%;}
.col34 { width: 70.5%;}
.col15 { width: 16%;}
.col16 { width: 12.66%;}

.col23, .col33, .col14, .col12, .col13, .col15 { 
	margin: 1%; padding: 1%;
}

/**************************
	MASONRY.JS
**************************/


.grid-item { width: 100px; }
.grid-item--width2 { width: 200px; }


/**************************
	REUSABLE LAYOUT & FILTER CLASS
**************************/
.fl {float: left;}
.fr {float: right;}
.clear {clear:both;}
.spacer {
	content: "";
	height: 50px;
}
.center {margin: 0 auto;}
.tleft { text-align: left;}
.tright { text-align: right;}
.tcenter { text-align: center; }
.outline { outline: 1px #8A7F82 solid; }
.img-sml ( width: 15%; )

.fr-bw { -webkit-filter: grayscale(1); filter: grayscale(1); }
.fr-sa { -webkit-filter: saturate(20%); filter: saturate(20%); }
.fr-sp { -webkit-filter: sepia(5); filter: sepia(5); }
.fr-in { -webkit-filter: invert(20%); filter: invert(20%); }
.fr-se { -webkit-filter: sepia(60%); filter: sepia(60%); }


/**************************
	MOBILE RESPONSIVE 
**************************/

@media screen and (max-width: 440px) {
	/*LAYOUT*/
.col13, .col12, .col33, .col14, .col34, .col23, .col15, .col16 {
		width: 96%;
		display: block;
		float: none!important;
	}
	
	#adminContainer aside, #adminContainer section {
		width: 100% !important;
		padding: 0 !important;
		clear: both !important;
	}	

}

